/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.co-bg-container__co-subsection {
    display: flex;
    background-color: #ffffff;
}

.co-subsection__wallet-newcard-section {
    width: 60%;
}


/* wallet section */

.co-wallet-newcard-section__wallet-section {
    padding: 10px;
    margin-top: 10px;
}

.co-wallet-section__heading {
    font-size: 20px;
    color: #A9A9A9;
}

.co-wallet-section__horizontal-line {
    height: 4px;
    width: 100%;
    background-color: #E8E8E8;
}

.co-wallet-section__card-section {
    display: flex;
    justify-content: space-around;
}

.co-card-section__card {
    margin: 20px;
}

.co-card-section__card--selected-card {
    background-color: #F0F0F0;
    padding: 15px;
}

.co-card__image {
    height: 150px;
    width: 230px;
    border-radius: 15px;
}

/* New Card Section */

.co-wallet-newcard-section__new-section {
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.co-card-section__ends-with {
    color: #787878;
}

.co-new-section__user-card-details-form {
    margin-top: 20px;
    align-self: center;
}

.co-user-card-details-form__name-on-card {
    display: block;
    height: 30px;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid #E8E8E8;
    border-radius: 8px;
}

.co-user-card-details-form__MM-YY-on-card-section {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.co-user-card-details-form__MM-YY-on-card {
    flex-grow: 1;
    height: 30px;
    padding: 10px;
    margin-right: 1px;
    margin-bottom: 10px;
    border: solid #E8E8E8;
    border-radius: 8px;
}

.co-user-card-details-form__continue-button {
    height: 45px;
    width: 350px;
    display: block;
    background-color: #20d90f;
    color: #ffffff;
    border-style: none;
    margin-top: 25px;
}